{% load staticfiles %}
<!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown">
    <div class="head"><i class="icon fa fa-bars"></i> Loại sản phẩm</div>
    <nav class="yamm megamenu-horizontal">
        <ul class="nav">

            {% for category in categories %}
                <li class="menu-item"><a href="{{ category.get_absolute_url }}"><i
                    class="icon fa fa-futbol-o"></i>{{ category.title }}</a>
            {% endfor %}

        </ul>
        <!-- /.nav -->
    </nav>
    <!-- /.megamenu-horizontal -->
</div>
<!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->
<div class="app-img outer-bottom-xs"><img alt="app" src="{% static "lotus/images/app-img.jpg" %}"/>
</div>