{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load el_pagination_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li class='active'>Về tây nguyên</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block seo %}
    {% seo_page 'article' %}
{% endblock seo %}
{% block content %}

    <div class="body-content">
        <div class="container">
            <div class="row">
                {% paginate object_list %}
                <div class="blog-page">

                    <div class="col-md-9">

                        <div class="row">
                            {% for post in object_list %}
                                <div class="col-md-6" style="margin-bottom: 10px;">
                                    <div class="item">
                                        <div class="blog-post">
                                            <div class="blog-post-image">
                                                <div class="image"><a href="{{ post.get_absolute_url }}"><img
                                                        src="{{ post.image_thumb3.url }}" alt="" class="img-responsive"></a>
                                                </div>
                                            </div>
                                            <!-- /.blog-post-image -->

                                            <div class="blog-post-info text-left">
                                                <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                                </h1>
                                                <span class="author">Đặc sản tây nguyên VN</span>
                                                <span class="date-time">14/06/2014</span>
                                                <p class="text">{{ post.short_content }}...</p>
                                                <a href="{{ post.get_absolute_url }}" class="lnk btn btn-primary">Xem
                                                    thêm</a></div>
                                            <!-- /.blog-post-info -->

                                        </div>
                                        <!-- /.blog-post -->
                                    </div>
                                </div>
                                {% cycle '' '</div><div class="row">' %}
                            {% endfor %}


                        </div>
                        <div class="clearfix blog-pagination filters-container  wow fadeInUp"
                             style="padding:0px; background:none; box-shadow:none; margin-top:15px; border:none">

                            <div class="text-right">
                                {% get_pages %}
                                <div class="pagination-container">
                                    <ul class="list-inline list-unstyled">
                                        <li class="prev"><a href="{{ pages.previous.path }}"><i
                                                class="fa fa-angle-left"></i></a></li>
                                        {% for page in pages %}
                                            <li {% if page.is_current %}class="active" {% endif %}><a
                                                    href="{{ page.path }}">{{ page.number }}</a></li>
                                        {% endfor %}
                                        <li class="next"><a href="{{ pages.next.path }}"><i
                                                class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 sidebar">


                        <div class="sidebar-module-container hidden-xs">
                            {% left_nav request %}
                            {% hot_products %}
                            {% latest_post %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}