config/settings/db_password.py
.DS_Store
.idea/
apps/.DS_Store
apps/__pycache__/
apps/carts/.DS_Store
apps/carts/__pycache__/
apps/orders/.DS_Store
apps/orders/__pycache__/
apps/products/.DS_Store
apps/products/__pycache__/
config/.DS_Store
config/__pycache__/
apps/accounts/__pycache__/
apps/pages/__pycache__/

apps/carts/migrations/
apps/orders/migrations/
apps/products/migrations/
apps/accounts/migrations/

apps/pages/templatetags/__pycache__/



apps/pages/__pycache__/__init__.cpython-34.pyc
apps/pages/__pycache__/admin.cpython-34.pyc
apps/pages/__pycache__/forms.cpython-34.pyc
apps/pages/__pycache__/models.cpython-34.pyc
apps/pages/__pycache__/views.cpython-34.pyc
apps/comments/__pycache__/
apps/comments/migrations/
