{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load el_pagination_tags %}

{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    {% if object %}
                        <li><a href="{{ object.get_absolute_url }}">Loại sản phẩm</a></li>
                        <li class='active'>{{ object.title }}</li>
                    {% else %}
                        <li class='active'>Sản phẩm</li>
                    {% endif %}
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block seo %}
    {% if object %}
        {% seo_post object %}
    {% else %}
        {% seo_page 'product' %}
    {% endif %}
{% endblock seo %}
{% block content %}

    <div class="body-content outer-top-xs">
        <div class='container'>
            <div class='row'>
                <div class="col-md-3 sidebar">
                    {% left_nav request %}
                    {% hot_products %}
                    {% latest_post %}
                </div>
                <div class='col-md-9'>
                    <!-- ========================================== SECTION – HERO ========================================= -->

                    <div id="category" class="category-carousel hidden-xs">
                        <div class="item">
                            <div class="image"><img src="{{ banner.image_thumb2.url }}" alt=""
                                                    class="img-responsive"></div>
                            <div class="container-fluid">
                                <div class="caption vertical-top text-left">
                                    {% if banner.text1 %}
                                        <div class="big-text">{{ banner.text1 }}</div>
                                    {% endif %}
                                    {% if banner.text2 %}
                                        <div class="excerpt hidden-sm hidden-md"> {{ banner.text2 }}</div>
                                    {% endif %}
                                    {% if banner.text3 %}
                                        <div class="excerpt-normal hidden-sm hidden-md"> {{ banner.text3 }}
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- /.caption -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                    </div>

                    {% if object_list.count > 0 %}
                        {% paginate object_list %}
                        <div class="clearfix filters-container m-t-10">
                            <div class="row">
                                <div class="col col-sm-6 col-md-6">
                                    <div class="filter-tabs">
                                        <ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
                                            <li class="active"><a data-toggle="tab" href="#grid-container"><i
                                                    class="icon fa fa-th-large"></i>Grid</a></li>
                                            <li><a data-toggle="tab" href="#list-container"><i
                                                    class="icon fa fa-th-list"></i>List</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col col-sm-6 col-md-6 text-right">

                                    {% get_pages %}
                                    <div class="pagination-container">
                                        <ul class="list-inline list-unstyled">
                                            <li class="prev"><a href="{{ pages.previous.path }}"><i
                                                    class="fa fa-angle-left"></i></a></li>
                                            {% for page in pages %}
                                                <li {% if page.is_current %}class="active" {% endif %}><a
                                                        href="{{ page.path }}">{{ page.number }}</a></li>
                                            {% endfor %}
                                            <li class="next"><a href="{{ pages.next.path }}"><i
                                                    class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- /.pagination-container --> </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="clearfix filters-container m-t-10">
                            <div class="row">
                                <div class="col col-sm-12 col-md-12">

                                    <p>Không tìm thấy sản phẩm.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object_list.count > 0 %}
                        <div class="search-result-container ">
                            <div id="myTabContent" class="tab-content category-list">
                                <div class="tab-pane active " id="grid-container">
                                    <div class="category-product">
                                        <div class="row">
                                            {% for product in object_list %}
                                                <div class="col-sm-6 col-md-4 wow fadeInUp">
                                                    <div class="products">
                                                        <div class="product">
                                                            <div class="product-image">
                                                                <div class="image"><a
                                                                        href="{{ product.get_absolute_url }}"><img
                                                                        src="{{ product.productimage_set.first.image_thumb7.url }}"
                                                                        alt=""></a></div>
                                                                <!-- /.image -->

                                                                {{ product.get_html_tag_safe }}
                                                            </div>
                                                            <!-- /.product-image -->

                                                            <div class="product-info text-left">
                                                                <h3 class="name"><a
                                                                        href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                                </h3>
                                                                <div class="description"></div>
                                                                <div class="product-price">
                                                                    {{ product.get_html_price }}
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane " id="list-container">
                                    <div class="category-product">

                                        {% for product in object_list %}
                                            <div class="category-product-inner wow fadeInUp">
                                                <div class="products">
                                                    <div class="product-list product">
                                                        <div class="row product-list-row">
                                                            <div class="col col-sm-4 col-lg-4">
                                                                <div class="product-image">
                                                                    <div class="image">
                                                                        <a
                                                                        href="{{ product.get_absolute_url }}">
                                                                        <img
                                                                            src="{{ product.productimage_set.first.image_thumb7.url }}"
                                                                            alt=""></a></div>
                                                                </div>
                                                                <!-- /.product-image -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <div class="col col-sm-8 col-lg-8">
                                                                <div class="product-info">
                                                                    <h3 class="name"><a
                                                                            href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                                    </h3>
                                                                    <div class="product-price">
                                                                        {{ product.get_html_price }}
                                                                    </div>
                                                                    <!-- /.product-price -->
                                                                    <div class="description m-t-10">
                                                                        {{ product.short_description }}
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        {{ product.get_html_tag_safe }}
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix filters-container">
                                {% get_pages %}
                                <div class="text-right">
                                    <div class="pagination-container">
                                        <ul class="list-inline list-unstyled">
                                            <li class="prev"><a href="{{ pages.previous.path }}"><i
                                                    class="fa fa-angle-left"></i></a></li>
                                            {% for page in pages %}
                                                <li {% if page.is_current %}class="active" {% endif %}><a
                                                        href="{{ page.path }}">{{ page.number }}</a></li>
                                            {% endfor %}
                                            <li class="next"><a href="{{ pages.next.path }}"><i
                                                    class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}

                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.body-content -->

{% endblock content %}