{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li class='active'>Floral Print Buttoned</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block content %}

    <div class="body-content">
        <div class="container">
            <div class="checkout-box ">
                <div class="row">
                    {% if user_can_continue == False %}
                        {% include 'theme_lotus/orders/_checkout_view_login.html' %}
                    {% else %}
                        {% include 'theme_lotus/orders/_checkout_view_address.html' %}
                    {% endif %}

                    {% include 'theme_lotus/orders/_checkout_order.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}