{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li class='active'>Đặt hàng thành công</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block content %}
    <div class="body-content">
        <div class="container">
            <div class="checkout-box ">
                <div class="row">

                    <div class="col-md-12">
                        <div class="panel-group checkout-steps" id="accordion">
                            <!-- checkout-step-01  -->
                            <div class="panel panel-default checkout-step-01">

                                <!-- panel-heading -->
                                <div class="panel-heading">
                                </div>
                                <!-- panel-heading -->

                                <div id="collapseOne" class="panel-collapse collapse in">

                                    <!-- panel-body  -->
                                    <div class="panel-body" style="min-height:300px;">

                                        <div class="row">

                                            <!-- already-registered-login -->
                                            <div class="col-md-offset-3 col-md-6 col-sm-12 already-registered-login wrap-success-order">
                                                <p>Cảm ơn bạn đã mua hàng tại <a href="#">dacsantaynguyenvn.com</a></p>
                                                <p>Mã số đơn hàng của bạn:</p>
                                                <div class="success-order">
                                                    {{ order.order_number }}
                                                </div>
                                                <p>Bạn có thể xem lại <a href="{% url 'orders' %}">đơn hàng của tôi</a></p>
                                            </div>
                                            <!-- already-registered-login -->

                                        </div>
                                    </div>
                                    <!-- panel-body  -->

                                </div><!-- row -->
                            </div>


                        </div><!-- /.checkout-steps -->
                    </div>

                </div><!-- /.row -->
            </div><!-- /.checkout-box -->

        </div><!-- /.container -->
    </div><!-- /.body-content -->

{% endblock content %}