{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load el_pagination_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li class='active'>Liên hệ</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block content %}


    <div class="body-content">
        <div class="container">
            <div class="terms-conditions-page">
                <div class="row">
                    <div class="col-md-12 ternditions">
                        <h2 class="heading-title">Liên hệ chúng tôi</h2>
                        <div class="" style="font-size: 14px;">
                                <p><strong>Hồ Chí Minh</strong> : Số 172A Vườn Lài, P.Tân Thành, Q.Tân Phú, TpHCM
                                </p>
                                <p><strong>Hà Nội </strong> : 375 đường Xuân Đỉnh, Q. Bắc Từ Liêm, Hà Nội</p>
                                <p><b>Email:</b> contact@dacsantaynguyenvn.com</p>
                                <p><b>Điện thoại:</b> SG : 0934 09 09 43 – HN :  0962 62 31 39</p>
                                <p><strong>Website : </strong><a href="http://www.dacsantaynguyenvn.com">www.dacsantaynguyenvn.com</a></p>

                    </div>
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
        </div><!-- /.container -->
    </div>


{% endblock content %}