{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load el_pagination_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li class='active'>Giới thiệu</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block content %}

    <div class="body-content">
        <div class="container">
            <div class="terms-conditions-page">
                <div class="row">
                    <div class="col-md-12 ternditions">
                        <h2 class="heading-title">Giới thiệu</h2>
                        <div class="">

                                <p style="text-align:justify"><span style="font-size:14px">Sinh ra và lớn lên ở các miền quê hương của đất nước Việt Nam tươi đẹp, </span><strong>SaLaFarm</strong><span
                                        style="font-size:14px"> là những con người mang cái mộc mạc chân chất từ quê ra phố, chúng tôi hiểu được những giá trị của những miền quê đối với sự hình thành và phát triển của đất nước, cũng như hình thành lên tố chất của con người Việt Nam. </span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px">Giá trị của </span><strong>SaLaFarm</strong><span
                                        style="font-size:14px"> chính là những món ăn đậm đà hương vị quê hương, là những đặc sản đã được biết đến ở khắp đất nước Việt Nam nói chung cũng như Tây Nguyên nói riêng cùng bạn bè quốc tế. Là một người con từ miền núi lên sài thành sa hoa tráng lệ để học và làm việc, thèm được ăn những món ăn hương vị của mẹ, của quê hương. Chúng tôi, </span><strong>SaLaFarm&nbsp;</strong><span
                                        style="font-size:14px">hướng đến những giá trị cốt lõi nhất, độc đáo nhất, và sâu sắc nhất của văn hoá Việt trong từng sản phẩm được giới thiệu đến người tiêu dùng.</span>
                                </p>

                                <p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify"><span style="color:#008000"><strong><span
                                        style="font-size:14px">TẦM NHÌN</span></strong></span></p>

                                <p style="text-align:justify"><span style="font-size:14px">Xuất phát trong bối cảnh thực phẩm Việt Nam đang rơi vào tình trạng hỗn loạn, thật giả lẫn lộn. Người sản xuất vì lợi trước mắt đã sử dụng nhiều hóa chất độc hại trong nuôi trồng thực phẩm, để rồi người tiêu dùng không biết đâu là thực phẩm sạch, đâu là thực phẩm có thể làm ảnh hưởng xấu, độc hại đến sức khỏe. "<span
                                        style="color:#008000"><strong>Với tầm nhìn của SALAFARM&nbsp;trở thành nơi phân phối sản phẩm uy tín, chất lượng, an toàn thực phẩm với sự cố gắng hoàn chỉnh hệ thống nuôi trồng, chế biến và phân phối tốt nhất đến năm 2030".</strong></span></span>
                                </p>

                                <p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify"><span style="color:#008000"><strong><span
                                        style="font-size:14px">SỨ MỆNH</span></strong></span></p>

                                <p style="text-align:justify"><span style="font-size:14px">Từ việc yêu thích và sử dụng những món đặc sản từ quê hơn những sản phẩm tương tự đã qua chế biến công nghiệp hoặc nhập khẩu. Chúng tôi, những người con từ nhiều miền quê hương, nhiều miền văn hóa khác nhau, nhưng cùng chung một niềm tin và khát khao mong muốn đưa đến cho khách hàng những sản phẩm có nguồn gốc, an toàn và sạch từ những miền quê thân thương.<span
                                        style="color:#008000"><strong>&nbsp;"Lấy lợi ích của người tiêu dùng làm kim chỉ nam hành động, tạo nên giá trị cốt lõi sứ mệnh của SALAFARM. Lấy uy tín và đảm bảo chất lượng sản phẩm để kết nối cộng đồng, khách hàng và đối tác".</strong></span></span>
                                </p>

                                <p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify"><span style="color:#008000"><span
                                        style="font-size:14px"><strong>TRIẾT LÝ KINH DOANH:</strong></span></span></p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>ĐẢM BẢO:</strong></span> đúng nguồn gốc xuất sứ, sản phẩm tự nhiên 100% hoặc từ những cơ sở sản xuất lâu đời có uy tín tại địa phương.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><strong><span
                                        style="color:#FFA500">UY TÍN:</span></strong> là chúng tôi đảm bảo thỏa mãn tốt nhất nhu cầu của khách hàng xứng đáng với giá trị mà khách hàng đã trả.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>AN TOÀN:</strong></span> Không những nâng cao chất lượng sản phẩm, mẫu mã, </span><strong>SaLaFarm</strong><span
                                        style="font-size:14px"> còn không ngừng nâng cao năng lực sản xuất, cung ứng cùng với sự quản lý chuyên nghiệp và nhạy bén bằng một tấm lòng nhiệt huyết nhất &nbsp;với phương châm “vì sức khỏe cộng động”.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>TẬN TÂM:</strong></span> Làm việc với khả năng tốt nhất của mình, cống hiến vì sự phát triển công ty – Có trách nhiệm với bản thân, gia đình và xã hội.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>TRUNG THỰC:</strong></span> Dũng cảm nhận trách nhiệm khi có sai sót</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>TRÍ TUỆ:</strong></span> Luôn luôn học tập nâng cao kiến thức – tư duy - sáng tạo trong công việc.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><strong><span
                                        style="color:#FFA500">TÔN TRỌNG:</span></strong> Tuân thủ các nguyên tắc của tổ chức, tôn trọng và quý mến đồng nghiệp – khách hàng.</span>
                                </p>

                                <p style="text-align:justify"><span style="font-size:14px"><span
                                        style="color:#FFA500"><strong>TẬN TÌNH:</strong></span> Tạo môi trowngf làm việc thuận lợi và kiên nhẫn lắng nghe ý kiến của đồng nghiệp – khách hàng. Tận tình với công việc vì sự phát triển của công ty.</span>
                                </p>

                                <p style="text-align:justify">&nbsp;</p>

                                <p style="text-align:justify"><span style="color:#008000"><strong><span
                                        style="font-size:14px">THÔNG ĐIỆP &nbsp;CỦA SALAFARM</span></strong></span></p>

                                <p style="text-align:justify"><span
                                        style="font-size:14px">“Vì sức khỏe cộng đồng” </span><strong>SaLaFarm</strong><span
                                        style="font-size:14px"> muốn thể hiện hết tinh thần trách nhiệm trong từng sản phẩm để mang đến sức khỏe cho cộng đồng. Góp phần đưa tinh hoa ẩm thực của Việt Nam hòa nhập với cường quốc năm châu.</span>
                                </p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
        </div><!-- /.container -->
    </div>

{% endblock content %}