{% extends "theme_lotus/layout.html" %}
{% load staticfiles %}
{% load inclusion_tags %}
{% load el_pagination_tags %}
{% block breakcrumb %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="{% url 'home' %}">Trang chủ</a></li>
                    <li class='active'>Giới thiệu</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
{% endblock breakcrumb %}
{% block content %}

    <div class="body-content">
        <div class="container">
            <div class="terms-conditions-page">
                <div class="row">
                    <div class="col-md-12 ternditions">
                        <h2 class="heading-title">Giới thiệu</h2>
                        <div class="">

                            <p style="text-align:justify;font-size: 14px;">
                                Thông điệp mang đặc sản tây nguyên đến gần với người tiêu dùng, đưa thương hiệu Đặc sản
                                Tây Nguyên VN phát triển trên mọi miền đất nước Việt Nam cũng như bạn bè Quốc Tế, với
                                mong muốn giúp các nhà vườn cung cấp Đặc sản Tây Nguyên được mở rộng thị trường và đồng
                                thời đảm bảo quyền lợi cửa hàng Đặc sản Tây Nguyên VN luôn luôn chọn những sản phẩm chất
                                lượng cao nhất, được thu mua tận nơi sản xuất , đồng thời dựa trên tiêu chí sản phẩm
                                sạch yêu cầu nhà sản xuất không sử dụng những chất có khả năng gây ảnh hưởng tới sức
                                khỏe của người tiêu dùng

                            </p>

                            <p style="text-align:justify;font-size: 14px;">
                                Ngoài phục vụ tại cửa hàng, chúng tôi có dịch vụ giao hàng tận nơi trên mọi miền đất
                                nước.

                            </p>

                            <p style="text-align:justify">&nbsp;</p>

                            <p style="text-align:justify"><span style="color:#008000"><strong><span
                                    style="font-size:14px">TẦM NHÌN: </span></strong></span></p>

                            <p style="text-align:justify;font-size: 14px;"><span style="font-size:14px">Xuất phát trong bối cảnh thực phẩm Việt Nam đang rơi vào tình trạng thật giả lẫn lộn. Người tiêu dùng luôn trong tình trạng hoang mang không biết đâu là thực phẩm sạch. . "<span
                                    style="color:#008000"><strong>Đặc sản Tây Nguyên VN với tiêu chí trở thành nơi phân phối sản phẩm sạch, an toàn và chất lượng. Trở thành địa điểm phân phối tốt nhất về Đặc sản Tây Nguyên Việt Nam".</strong></span></span>
                            </p>

                            <p style="text-align:justify">&nbsp;</p>

                            <p style="text-align:justify"><span style="color:#008000"><strong><span
                                    style="font-size:14px">SỨ MỆNH: </span></strong></span></p>

                            <p style="text-align:justify;font-size: 14px;"><span style="font-size:14px">Từ sở thích và thói quan sử dụng những đặc sản từ quê hương núi rừng. Chúng tôi, những người con của vùng núi. .<span
                                    style="color:#008000"><strong>&nbsp;"Lấy lợi ích của người tiêu dùng, tạo nên giá trị cốt lõi sứ mệnh của Đặc Sản Tây Nguyên VN".</strong></span></span>
                            </p>

                            <p style="text-align:justify">&nbsp;</p>

                            <p style="text-align:justify"><span style="color:#008000"><span
                                    style="font-size:14px"><strong>TRIẾT LÝ KINH DOANH:</strong></span></span></p>

                            <p style="text-align:justify;font-size: 14px;"><span
                                    style="color:#FFA500"><strong>UY TÍN: </strong></span> đúng nguồn gốc, sản phẩm 100%
                                tự nhiên hoặc từ những cơ sở sản xuất lâu đời có uy tín tại địa phương .
                            </p>

                            <p style="text-align:justify;font-size: 14px;"><strong><span
                                    style="color:#FFA500">THỊ TRƯỜNG: </span></strong> trong và ngoài nước, khách hàng
                                là người tiêu dùng, các tổ chức, cá nhân kinh doanh, cửa hàng, nhà hàng, siêu thị, các
                                doanh nghiệp xuất khẩu.
                            </p>

                            <p style="text-align:justify;font-size: 14px;">
                                <strong>
                                                <span
                                                        style="color:#FFA500">CAM KẾT: </span></strong> với cam kết bảo
                                đảm hàng hóa thường xuyên ổn định, số lượng cao nhất, chất lượng tốt, bảo quản tốt và
                                giá cả cạnh tranh nhất.
                            </p>

                            <p style="text-align:justify">&nbsp;</p>

                            <p style="text-align:justify"><span style="color:#008000"><strong><span
                                    style="font-size:14px">THÔNG ĐIỆP: </span></strong></span></p>

                            <p style="text-align:justify;font-size: 14px;">
                                    <span
                                            style="color:#008000"><strong>Đặc Sản Tây Nguyên VN </strong></span>đồng
                                hành cùng người tiêu dùng với thông điệp <span
                                    style="color:#008000"><strong>“Vì sức khỏe cộng đồng”  </strong></span>
                            </p>

                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
        </div><!-- /.container -->
    </div>

{% endblock content %}