.detail-head-description{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
}



.body-content .social-sign-in .facebook-sign-in {
    background-color: #3d5c98;
    margin-right: 10px;
}
.body-content .social-sign-in a, .body-content .sign-in-page .social-sign-in a:hover, .body-content .social-sign-in a:focus {
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
}
.body-content .social-sign-in .twitter-sign-in {
    background-color: #22aadf;
}
.body-content .social-sign-in a, .body-content .sign-in-page .social-sign-in a:hover, .body-content .social-sign-in a:focus {
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
}
.body-content .social-sign-in a{
    color: #fff !important;
    text-decoration: none !important;
 }
.body-content .social-sign-in .twitter-sign-in a:hover {
    background-color: #22aadf !important;
}
.shopping-cart .shopping-cart-table {
     margin-bottom: 0px !important;
}