.detail-head-description {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.body-content .social-sign-in .facebook-sign-in {
    background-color: #3d5c98;
    margin-right: 10px;
}

.body-content .social-sign-in a, .body-content .sign-in-page .social-sign-in a:hover, .body-content .social-sign-in a:focus {
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
}

.body-content .social-sign-in .google-sign-in {
    background-color: #df4a32;
}

.body-content .social-sign-in a, .body-content .sign-in-page .social-sign-in a:hover, .body-content .social-sign-in a:focus {
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
}

.body-content .social-sign-in a {
    color: #fff !important;
    text-decoration: none !important;
}

.body-content a.facebook-sign-in:hover, .body-content a.facebook-sign-in:active, .body-content a.facebook-sign-in:focus {
    background-color: #2d4373 !important;
}

.body-content a.google-sign-in:hover, .body-content a.google-sign-in:active, .body-content a.google-sign-in:focus {
    background-color: #c63923 !important;
}

.shopping-cart .shopping-cart-table {
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 480px) {
    .body-content .social-sign-in a {
        width: 100%;
    }

    .body-content .social-sign-in a {
        margin-bottom: 10px;
    }
}

.success-order {
    background: #57b846;
    font-size: 19px;
    color: #fff;
    border: none;
    text-align: center;
    font-weight: 400;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.wrap-success-order {
    border-color: #ddd;
    border: 1px solid #ddd;
    padding: 20px;
}

.latest-blog-sidebar .blog-post {
    padding: 0px 0px 25px 0px !important;
    box-shadow: none !important;
}

.latest-blog-sidebar .blog-post h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.latest-blog-sidebar .blog-post h4 a {
    color: #555;
}

.latest-blog-sidebar .blog-post a {
    margin-top: 20px;
}

.latest-blog-sidebar .blog-post span {
    padding-right: 10px;
    color: #aaa;
    font-size: 12px;
}

.latest-blog-sidebar .blog-post span {
    padding-right: 10px;
    color: #aaa;
    font-size: 12px;
}

.latest-blog-sidebar .blog-post p {
    padding-top: 10px;
    font-size: 13px;
    color: #666666;
}

.latest-blog-sidebar .blog-post p {
    padding-top: 16px;
    font-size: 13px;
    color: #666666;
    margin-bottom: 0px;
}

.latest-blog-sidebar .blog-post .date-time:before,
.latest-blog-sidebar .blog-post .date-time:before {
    content: "\f073";
    color: #666666;
    font-size: 13px;
    padding-right: 4px;
    font-family: FontAwesome;
}

/*.dropdown-menu {*/
    /*min-width: 200px !important;*/
    /*float: right !important;*/
/*}*/

.top-bar .cnt-block .list-inline > li {
    margin-right: 0px !important;
}

.top-bar .dropdown-menu > li > a {
    padding: 10px 15px !important;
    font-size: 13px;
}



.top-bar .cnt-account ul > li {
    padding: 0px !important;
}

.table-list-order tr td {
    padding: 8px !important;
}

.terms-conditions-page {
    margin-bottom: 20px;
}

.breadcrumb .fa-2 {
    font-size: 1.5em;
}

.side-menu ul li.active > a {
       color: #333;
    font-weight: bold;
}

.breadcrumb ul li:after {
    margin-right: 0px !important;
}

@media (min-width: 992px) {
    .order-list-panel, .terms-conditions-page {
        min-height: 500px;
    }
}

.sign-in-page{
    margin-bottom: 20px;
}

.main-header .logo-holder {
    margin-bottom: 12px !important;
}
.social-sign-in{
    margin-bottom: 30px;
}
.filters-container .pagination-container {
    margin-bottom: 15px !important;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total span, .shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total span {
    text-transform: lowercase !important;
}
.cart-shopping-total {
    margin-bottom: 20px;
}
.special-product .product:first-child {
    margin-bottom: 0px!important;
}
.special-product .product {
    margin-bottom: 20px!important;
}
.offer-text {
    color: #fff !important;
}
.top-bar .cnt-account ul > li a {
      color: #fff !important;
}

.blog-page .blog-post span {
    color: #666666 !important;
}
.blog-page .blog-post-detail img {
    max-width: 100%;
    height: auto !important;
}