<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">LIÊN HỆ </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                              <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body">
                                    <p>Themesstock, 789 Main rd, Anytown, CA 12345 USA</p>
                                </div>
                            </li>

                                  <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body"><span><a href="#">lotus@themesstock.com</a></span></div>
                            </li>
                                     <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body" style="margin-top: 6px">
                                    <p>+(888) 123-4567</p>
                                </div>
                            </li>



                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">THÔNG TIN WEBSITE </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                       <li class="first"><a href="#" title="Contact us">Giới thiệu</a></li>
                            <li><a href="#" title="About us">Về tây nguyên</a></li>
                            <li><a href="#" title="faq">Liên hệ</a></li>
                            <li><a href="#" title="Popular Searches">Thanh toán</a></li>
                            <li class="last"><a href="#" title="Where is my order?">Câu hỏi thường </a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">TÀI KHOẢN </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="#" title="Contact us">Đăng nhập</a></li>
                            <li><a href="#" title="About us">Đăng ký</a></li>
                            <li><a href="#" title="faq">Quên mật khẩu</a></li>
                            <li><a href="#" title="Popular Searches">Giỏ hàng </a></li>
                            <li class="last"><a href="#" title="Where is my order?">Danh sách ưa thích </a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">KẾT NỐI VỚI CHÚNG TÔI</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                       <div class="nav-other social-conn">
                        <a rel="nofollow" href="https://www.facebook.com/tiki.vn/" target="_blank" title="Facebook">
                            <img src="https://vcdn.tikicdn.com/assets/img/svg/ic-fb.svg">
                        </a>
                        <a rel="nofollow" href="https://www.youtube.com/user/TikiVBlog" target="_blank" title="Youtube">
                            <img src="https://vcdn.tikicdn.com/assets/img/svg/ic-youtube.svg">
                        </a>

                    </div>
                    </div>
                    <!-- /.module-body -->
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <div class="copyright pull-left">
                    © Copyright 2017 – <strong>dacsantaynguyenvn.com</strong>. All Rights Reserved.
                </div>
            </div>

        </div>
    </div>
</footer>