{% load staticfiles %}
{% load simple_tags %}
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">LIÊN HỆ </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                              <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body">
                                    <p>{% get_setting "address" %}</p>
                                </div>
                            </li>
                                   <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body">
                                    <p>SG: {% get_setting "phone_sg" %} <br>HN: {% get_setting "phone_hn" %}</p>
                                </div>
                            </li>

                                  <li class="media">
                                <div class="pull-left"><span class="icon fa-stack fa-lg"> <i
                                        class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span></div>
                                <div class="media-body">
                                    <span><a href="mailto:{% get_setting "email" %}">{% get_setting "email" %}</a></span>
                                </div>
                            </li>




                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">THÔNG TIN WEBSITE </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                       <li class="first"><a href="{% url 'base_introduction' %}" title="Giới thiệu">Giới thiệu</a></li>
                            <li><a href="{% url 'base_contact' %}" title="Liên hệ">Liên hệ</a></li>
                            <li><a href="{% url 'base_payment' %}" title="Thanh toán">Thanh toán</a></li>
                            <li><a href="{% url 'post_list' %}" title="Về tây nguyên">Đặc sản tây nguyên</a></li>
                            <li class="last"><a href="#" title="Câu hỏi thường">Câu hỏi thường </a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">TÀI KHOẢN </h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="{% url 'login_custom' %}" title="Đăng nhập">Đăng nhập</a></li>
                            <li><a href="{% url 'signup_custom' %}" title="Đăng ký">Đăng ký</a></li>
                            <li><a href="#" title="faq">Quên mật khẩu</a></li>
                            <li><a href="{% url 'cart' %}" title="Giỏ hàng">Giỏ hàng </a></li>
                            <li class="last"><a href="#" title="Danh sách ưa thích">Danh sách ưa thích </a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">KẾT NỐI VỚI CHÚNG TÔI</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                       <div class="nav-other social-conn">
                        <a rel="nofollow" href="{% get_setting "facebook" %}" target="_blank" title="Facebook">
                            <img src="{% static 'lotus/images/ic-fb.svg' %}">
                        </a>
                        <a rel="nofollow" href="{% get_setting "youtube" %}" target="_blank" title="Youtube">
                            <img src="{% static 'lotus/images/ic-youtube.svg' %}">
                        </a>

                    </div>
                    </div>
                    <!-- /.module-body -->
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <div class="copyright pull-left">
                    © Copyright 2017 – <strong>{% get_setting "domain" %}</strong>. All Rights Reserved.
                </div>
            </div>

        </div>
    </div>
</footer>