{% load staticfiles %}
{% load inclusion_tags %}
{% load simple_tags %}
<header class="header-style-1">

    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown" style="background: #333;">
        <div class="container">
            <div class="header-top-inner">
                {% if not user.is_authenticated %}
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'login_custom' %}">Đăng nhập</a></li>
                            <li><a> | </a></li>
                            <li><a href="{% url 'signup_custom' %}">Đăng ký</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span
                                        class="value" style="color: #fff;">Chào {{ user.username }} </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'orders' %}">Đơn hàng của tôi</a></li>
                                    <li><a href="{% url 'user_profile' %}">Tài khoản của tôi</a></li>
                                    <li><a href="{% url 'user_address' %}">Địa chỉ của tôi</a></li>
                                    <li>
                                        <a href="{% url 'logout_custom' %}">Thoát tài khoản</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}


                <div class="offer-text">
                    Hotline SG: <strong>{% get_setting "phone_sg" %}</strong> - HN: <strong>{% get_setting "phone_hn" %}</strong>

                </div>

                <div class="clearfix"></div>
            </div>
            <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                {% head_search request %}

                <div class="col-xs-12 col-sm-12 col-md-4 logo-holder">

                    <div class="logo"><a href="home.html">
                        <img height="130" src="{% get_setting "logo" %}" alt="logo">
                    </a>
                    </div>

                </div>


                {% head_card request %}


                <!-- /.top-cart-row -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.main-header -->

    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                {% url "home" as home %}
                                <li {% if request.get_full_path == home %} class="active" {% endif %}><a
                                        href="{{ home }}">Trang chủ </a></li>

                                {% url "products" as products %}
                                <li {% if request.get_full_path == products %} class="active" {% endif %}><a
                                        href="{{ products }}">Sản phẩm </a></li>

                                {% url 'base_introduction' as base_introduction %}
                                <li {% if request.get_full_path == base_introduction %} class="active" {% endif %} ><a
                                        href="{{ base_introduction }}">Giới thiệu </a></li>

                                {% url 'post_list' as post_list %}
                                <li {% if request.get_full_path == post_list %} class="active" {% endif %}><a
                                        href="{{ post_list }}">Đặc sản tây nguyên</a></li>


                                {% url 'base_payment' as base_payment %}
                                <li {% if request.get_full_path == base_payment %} class="active" {% endif %}><a
                                        href="{{ base_payment }}">Chính sách mua hàng</a></li>

                                 {% url 'base_contact' as base_contact %}
                                <li {% if request.get_full_path == base_contact %} class="active" {% endif %}><a
                                        href="{{ base_contact }}">Liên hệ</a></li>

                            </ul>
                            <!-- /.navbar-nav -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.nav-outer -->
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.nav-bg-class -->
            </div>
            <!-- /.navbar-default -->
        </div>
        <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->

</header>