<div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
    <!-- /.contact-row -->
    <!-- ============================================================= SEARCH AREA ============================================================= -->
    <div class="search-area">
        <form method="get" action="{% url "products" %}">
            <div class="control-group">
                <ul class="categories-filter animate-dropdown">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Tất cả
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="menu-header">All</li>
                            {% for category in categories %}
                            <li role="presentation"><a role="menuitem" tabindex="1" href="category.html">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                            <input type="hidden" name="cat" value=""/>
                <input class="search-field" name="q" placeholder="Search here..."/>
                <a class="search-button" href="#"></a></div>
        </form>
    </div>
    <!-- /.search-area -->
    <!-- ============================================================= SEARCH AREA : END ============================================================= -->
</div>