{% load staticfiles %}
<div class="sidebar-widget outer-bottom-xs wow fadeInUp latest-blog-sidebar">
    <h3 class="section-title">Bài viết mới nhất</h3>
    <div class="" style="padding-left:0">
        <div class="tab-pane m-t-20" id="recent">
            {% for post in posts %}
            <div class="blog-post">
                <img class="img-responsive" src="{{ post.image_thumb1.url }}" alt="">
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>