<div class="col-md-3">
    <!-- checkout-progress-sidebar -->
    <div class="checkout-progress-sidebar ">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="unicase-checkout-title">Tài khoản của tôi</h4>
                </div>
                <div class="">
                    <ul class="nav nav-checkout-progress list-unstyled">
                        <li><a href="{% url 'user_profile' %}">Thông tin tài khoản</a></li>
                        <li><a href="{% url 'orders' %}">Đơn hàng của tôi</a></li>
                        <li><a href="{% url 'user_address' %}">Địa chỉ của tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>